.header {
    padding: 20px 0;
    font-family: monospace;
    font-size: 24px;
}

.header > div {
    margin: 0;
}

.address {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 54px;
    font-weight: bold;
}

.description, .description * {
    font-size: 16px;
}

.description {
    border-left: 2px solid white;
    margin-top: 14px;
    margin-left: 36px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;

    list-style: none;
}

.description a {
    text-decoration: underline;
}
